<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>The title</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700" media="all">
    
    <!-- tablesorter scripts -->    
    <link rel="stylesheet" href="https://mottie.github.io/tablesorter/css/theme.default.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" 
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" 
        crossorigin="anonymous"></script>
  
  <script type="text/javascript" src="https://mottie.github.io/tablesorter/dist/js/jquery.tablesorter.min.js"> </script>
<script type="text/javascript" >
        $(function() {
                console.log("sorting table");
                $("table").tablesorter();
        });
</script>
    <!-- tablesorter-->
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      <h1><a href="/">Mind maps</a></h1>
      <div class="content">
        {{ content }}
      </div>
      <footer>
        <div class="container">
         © 2022 www.JoymonOnline.In
        </div>
      </footer>
    </div>
  </body>
</html>
